.product-carousel .slick-slide {
  padding: 0 10px;
}

.product-carousel .slick-prev,
.product-carousel .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.product-carousel .slick-prev {
  left: -25px;
}

.product-carousel .slick-next {
  right: -25px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  margin: 15px;
}

.arrow svg {
  transition: color 300ms;
}

.arrow:hover svg {
  color: #4a5568;
}

.next {
  right: -30px;
}

.prev {
  left: -30px;
}

/* 캐러셀 마진 */
.product-carousel .slick-dots {
  bottom: -30px; /* 아래쪽 마진 */
  margin-top: 30px; /* 위쪽 마진 */
}

.product-carousel {
  padding-bottom: 60px; /* 캐러셀 아래 여백 확보 */
}
